@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@section Title {
User Task
}
<div class="header-color"></div>

<div class="card-container">

<div class="project-container" style="margin-top: 10.3vh;">

    <div class="scroll-container">
        <table id="example1" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 10vw;">Project Name</th>
                    <th>Task Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
 @foreach (var task in Model)
                    {
                        <tr>
                            <td>@task.ProjectName</td>
                            <td>@task.TaskName</td>
                            <td>@task.Status</td>
                        </tr>
                    }
            </tbody>

        </table>
    </div>
</div>
</div>


<script>

    document.getElementById("UserTask").classList.add("active");
</script>
