@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section Title{
    Admin User
}

<div class="header-color"></div>


<script>
    document.getElementById("adminUser").classList.add("active");
  </script>
