@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section Title {
View Project
}

<div class="header-color"></div>
<div class="project-container users-container scroll-content" style="height: 75vh; padding: 1rem;">
    <div class="project-grid">
        <div>
            <label for="">Project Name:</label> <br>
            <p>ambot</p>
        </div>
        <div>
            <label for="">Project Manager:</label>
            <p>Basta haha</p>
        </div>
        <div class="to-expand">
            <label for="">Project Members:</label>
            <p>blahblahblah</p>
        </div>
        <div>
            <label for="">Start Date:</label>
            <p>HHAHAHA SECRET</p>
        </div>
        <div>
            <label for="">Due Date:</label>
            <p>sekreto para gwapo</p>
        </div>
        <div class="to-expand-desc">
            <label for="">Description:</label>
            <p>HAHAHAHAHHAHAHAHAHAHHAHHA I NEED SLEEP</p>
        </div>
    </div>
    <div class="table-container">
        <div><button>ADD TASK</button></div>
    </div>
</div>


@section Scripts {
    <script>
        document.querySelector('.collapse-btn').classList.add("active");
        document.querySelector('.bi-send-fill').style.color = "white";
        document.querySelector('.collapse-btn').style.color = "white";
    </script>
}